<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greegotaxiapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
				<key>dateExpires</key>
				<string>6/27/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bugsnag.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CTCheckbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CreditCardValidator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FloatRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PKHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SANotificationViews.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVPinView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YNDropDownMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F32A0B561E53464841DAC0DFDE205B3421A083CB</string>
						<key>dateExpires</key>
						<string>6/27/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5LX67X6L77</string>
						<key>name</key>
						<string>Greego, Inc</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5LX67X6L77.co.greego.application.gnsus</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5LX67X6L77</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>greegotaxiapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b3e92dbd-15ed-4818-903f-d97ee916d5a1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: co.greego.application.gnsus</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5LX67X6L77</string>
				<key>name</key>
				<string>Greego, Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
